<aside>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/catalog/categories">All Categories</a></li>
      <li><a href="/catalog/items">All Items</a></li>
      <li><a href="/catalog/category/create">Create new category</a></li>
      <li><a href="/catalog/item/create">Create new item</a></li>
    </ul>
  </nav>
</aside>
