<aside>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/catalog/categories">All Categories</a></li>
      <li><a href="/catalog/items">All Items</a></li>
      <li>Create new category</li>
      <li>Create new item</li>
    </ul>
  </nav>
</aside>
